.cardboard {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    transition: all 1.4s ease-out allow-discrete;
}

.cardboard p {
    color: #ffffff;
    white-space: pre-line;
}
